@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400;500;600;700;800&family=Open+Sans:wght@300;400;500;600;700;800&display=swap');


body {
    display: flex;
    font-family: 'Montserrat', sans-serif !important;
    background-color: #EEEEEE;
    font-size: 0.85rem !important;
}

.divisao__esquerda {
    width: 50%;
    position: left;
}

.esquerda_divisao {
    position: fixed;    
    z-index: -1;
}


#textos_divisao {
    font-family: 'Montserrat', sans-serif;
    z-index: 999;
    padding-top: 50%;
    color: #eee;
    display: flex;
    flex-direction:column;
    justify-content: right;
align-items: center;
}

.titulo_slogan {
    width: 55%;
    font-size: 1.75rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

#imagem_logo {
    width: 60%;
}

.subtitulo_slogan {
    width: 55%;
    font-size: 170%;
    font-weight: 100;
    line-height: 1.9rem;
}

.direita_login {
    margin-left: 12%;
    width: 50%;
    position: right;
    display: flex;
    flex-direction:column;
    justify-content: center;
align-items: right;
margin-top: 10%;
}

.titulos {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 3rem;
}

.coolinput {
    display: flex;
    flex-direction: column;
    width: 35rem;
    position: static;
  }
  
  .coolinput label.text {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.85rem;
    color: #505050;
    font-weight: 400;
    position: relative;
    top: 0.5rem;
    margin: 0 0 0 14px;
    padding: 0 3px;
    background: #eeeeee;
    width: fit-content;
  }
  
  .coolinput input[type=text].input,  .coolinput input[type=password].input,  .coolinput input[type=email].input {
    padding: 16px 16px;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.95rem;
    color: #636363fd;
    border: 1px rgb(153, 153, 153) solid;
    border-radius: 5px;
    background: #e8e8e800;
    margin-bottom: 1rem;
  }
  
  .coolinput input[type=text].input:focus {
    outline: none;
  }

  .botao__form {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.95rem;
    background-color: #359180;
    outline: none;
    border-radius: 10px;
    border: none;
    display: flex;
    padding: 12px;
    width: 100%;
    color: #fff;
    font-weight: 600;
    justify-content: center;
    align-items: center;
    margin-top: 0.75rem;
    cursor: pointer;
    text-decoration: none;
  }

  .botao__form:hover {
    transition: 1s;
    background-color: #287e6e;
  }



  .layout {
    width: 100%;
    margin-top: 1rem;
  margin-bottom: 1rem;
    display: flex;
    align-items: center;
    gap: 16px;
  }
  
  .marginLeft { margin-left: auto; }

  .check_container {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.85rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .marginLeft {
    font-weight: 700;
color: #359180;
}

.divisoria {
    justify-content: center;
align-items: center;
    display: flex;
    width: 100%;
    margin-top: 3rem;
    border-bottom: 1px solid #00000036; /* Define uma borda inferior sólida de 1 pixel com a cor preta */
  }

  .login__primeiro { 
    color: #359180;
    font-weight: 700;
    margin-top: 2rem;
   margin-left: 25%; 
}


a{
  color: #359180 !important;
}


@media (max-width: 600px) {
  body {
      width: 100%;
      display: flex;
      flex-direction: column;
      overflow-x: hidden;
  }

  #imagem_principal {
      width: 100%;
      height: 34rem !important;
  }

  .divisao__esquerda {
      width: 100% !important;
      position: center;
  }

  .esquerda_divisao {
      position: static !important;   
      z-index: 999;
  }

  .esquerda_divisao img {
      z-index: -1;
      max-width: 100%;
      height: 5rem;
  }

  #textos_divisao {
      z-index: 999;
      margin-top: -37rem;
  }

  .direita_login {
      position: absolute;
      top: 20%;
      left: 42%;
      transform: translate(-50%, -50%);
      width: 100% !important;
      text-align: left;
      padding-top: 78rem;
  }

  .coolinput label.text,
  .coolinput input[type="text"].input,
  .coolinput input[type="password"].input,
  .coolinput input[type="email"].input {
      width: 120% !important;
  }

  .coolinput .input-group {
      flex-direction: column;
  }

  .lado-a-lado {
      flex-direction: column;
  }

  .coolinput input[type="file"].input {
      margin-right: 1rem !important;
   }

   .coolinput {
      display: flex;
      flex-direction: column;
      width: 20rem;
      position: static;
  }

  .custom-file-upload {
      width: 67%;
      margin-left: 0rem;
      margin-top: 0rem;
  }

  .coolinput select.select {
      width: 80% !important;
  }

  .lado-a-lado {
      gap: 0rem;
  }

  .botao__form {
      width: 130% !important;
  }

  .divisoria {
      width: 78%  !important;
  }

  .login__primeiro {
      font-size: 1rem;
      margin-left: 0rem !important;
      margin-bottom: 3rem;
      text-align: center;
  }

  .titulo_slogan {
      margin-left: 2rem;
      width: 100% !important;
      font-size: 1.75rem;
      font-weight: 500;
      margin-bottom: 1rem;
  }

  .subtitulo_slogan {
      margin-left: 0.5rem;
      width: 95% !important;
      font-size: 1.25rem !important;
      font-weight: 200 !important;
      line-height: 1.7rem !important;
  }

  #imagem_logo {
      margin-bottom: 1rem;
      margin-left: -2rem;
      width: 80% !important;
  }
}



@media (max-width: 600px) {
    body {
        width: 100%;
        display: flex;
        flex-direction: column;
        overflow-x: hidden;
    }

    #imagem_principal {
        width: 100%;
        height: 30rem !important;
    }

    .divisao__esquerda {
        width: 100% !important;
        position: center;
    }

    .esquerda_divisao {
        position: static !important;   
        z-index: 999;
    }

    .esquerda_divisao img {
        z-index: -1;
        max-width: 100%;
        height: 5rem;
    }

    #textos_divisao {
        z-index: 999;
        margin-top: -36rem;
    }

    .direita_login {
        position: absolute;
        top: 8%;
        left: 50%;
        width: 100% !important;
        text-align: left;
        margin-top: 6rem !important;
    }

    .coolinput label.text,
  .coolinput input[type="text"].input,
  .coolinput input[type="password"].input,
  .coolinput input[type="email"].input,
  .coolinput input[type="number"].input,
  .coolinput input[type="file"].input,
  .coolinput select.select {
      width: 100% !important; /* Faz com que os elementos ocupem a largura disponível */
  }

    .coolinput {
        display: flex;
        flex-direction: column;
        width: 20rem;
        position: static;
    }

    .botao__form {
        width: 110% !important;
    }

    .divisoria {
        width: 110%  !important;
    }

    .login__primeiro {
        font-size: 1rem;
        margin-left: -8rem !important;
        margin-bottom: 3rem;
        text-align: center;
    }

    .titulo_slogan {
        margin-left: 2rem;
        width: 100% !important;
        font-size: 1.75rem;
        font-weight: 500;
        margin-bottom: 1rem;
    }

    .subtitulo_slogan {
        margin-left: 0.5rem;
        width: 95% !important;
        font-size: 1.25rem !important;
        font-weight: 200 !important;
        line-height: 1.7rem !important;
    }

    #imagem_logo {
        margin-bottom: 1rem;
        margin-left: -2rem;
        width: 80% !important;
    }

    .layout {
        width: 110% !important;
    }
}


@media (min-width: 600px) and (max-width: 700px) {
    body {
        width: 100%;
        display: flex;
        flex-direction: column;
        overflow-x: hidden;
    }

   #imagem_principal {
    width: 100%;
   height: 34rem !important;
    }

    .divisao__esquerda {
        width: 100% !important;
        position: center;
    }
    
    .esquerda_divisao {
        position:static !important;   
        z-index: 999;
    }
    
    .titulo_slogan {
        margin-left: 4rem;
        width: 90% !important;
        font-size: 1.75rem;
        font-weight: 500;
        margin-bottom: 1rem;
    }

    .subtitulo_slogan {
        margin-left: 4rem;
        width: 90% !important;
        font-size: 170%;
        font-weight: 100;
        line-height: 1.9rem;
    }

    #imagem_logo {
        margin-left: -4rem;
        width: 65% !important;
    }

    .esquerda_divisao img {
        z-index: -1;
        max-width: 100%; /* Ajusta a imagem para ocupar 100% da largura disponível */
        height: 5rem; /* Mantém a proporção da imagem */
    }

    #textos_divisao {
        z-index: 999;
        margin-top: -105%; /* Espaçamento entre a imagem e o texto */
    }

    .direita_login {
        position: absolute;
        top: 50%;
        left: 0%;
        width: 100% !important;
        text-align: left;
        margin-top: 10rem !important;
    }

  .coolinput label.text,
  .coolinput input[type="text"].input,
  .coolinput input[type="password"].input,
  .coolinput input[type="email"].input,
  .coolinput input[type="number"].input,
  .coolinput input[type="file"].input,
  .coolinput select.select {
      width: 91% !important; /* Faz com que os elementos ocupem a largura disponível */
      max-width: 100% !important;
  }

  .coolinput .input-group {
      flex-direction: column; /* Empilha os elementos verticalmente */
  }

  .lado-a-lado {
      flex-direction: column; /* Empilha os elementos em telas menores */
  }

  .coolinput input[type="file"].input {
      margin-right: 1rem !important;
   }

   .coolinput {
      display: flex;
      flex-direction: column;
      width: 29rem;
      position: static;
  }

  .custom-file-upload {
      width: 84%;
      margin-left: 0rem;
      margin-top: 0rem;
  }
  

  .coolinput select.select {
      width: 97% !important;
}


.botao__form {
  width: 98% !important;
}

.divisoria {
  width: 97%  !important;
}

.login__primeiro {
  font-size: 1rem;
  margin-left: -9.5rem !important;
  margin-bottom: 3rem;
  text-align: center;
}

.layout {
    width: 98% !important;
}
}


@media (min-width: 700px) and (max-width: 820px) {

    body {
        width: 100%;
        display: flex;
        flex-direction: column;
        overflow-x: hidden;
    }

   #imagem_principal {
    width: 100%;
   height: 34rem !important;
    }

    .divisao__esquerda {
        width: 100% !important;
        position: center;
    }
    
    .esquerda_divisao {
        position:static !important;   
        z-index: 999;
    }
    
    .titulo_slogan {
        margin-left: 2rem;
        width: 96% !important;
        font-size: 1.75rem;
        font-weight: 500;
        margin-bottom: 1rem;
    }

    .subtitulo_slogan {
        margin-left: 2rem;
        width: 96% !important;
        font-size: 170%;
        font-weight: 100;
        line-height: 1.9rem;
    }

    #imagem_logo {
        margin-top: 2rem;
        margin-bottom: 1rem;
        margin-left: -3rem;
        width: 65% !important;
    }

    .esquerda_divisao img {
        z-index: -1;
        max-width: 100%; /* Ajusta a imagem para ocupar 100% da largura disponível */
        height: 5rem; /* Mantém a proporção da imagem */
    }

    #textos_divisao {
        z-index: 999;
        margin-top: -105%; /* Espaçamento entre a imagem e o texto */
    }

    .direita_login {
        position: absolute; top: 16%; left: 50% !important; transform: translate(-50%, -50%);
        width: 100% !important;
        text-align: left; /* Centraliza o conteúdo na tela */
        padding-top: 78rem; /* Espaçamento entre as seções */
    }

  .coolinput label.text,
  .coolinput input[type="text"].input,
  .coolinput input[type="password"].input,
  .coolinput input[type="email"].input,
  .coolinput input[type="number"].input,
  .coolinput input[type="file"].input,
  .coolinput select.select {
      width: 100% !important; /* Faz com que os elementos ocupem a largura disponível */
  }

  .coolinput .input-group {
      flex-direction: column; /* Empilha os elementos verticalmente */
  }

  .lado-a-lado {
      flex-direction: column; /* Empilha os elementos em telas menores */
  }

  .coolinput input[type="file"].input {
      margin-right: 1rem !important;
   }

   .coolinput {
      display: flex;
      flex-direction: column;
      width: 32rem;
      position: static;
  }

  .custom-file-upload {
      width: 121%;
      margin-left: 0rem;
      margin-top: 0rem;
  }
  

  .coolinput select.select {
      width: 134% !important;
}

.lado-a-lado {
  gap: 0rem;
}

  .botao__form {
      width: 106.5% !important;
  }
  
  .divisoria {
      width: 106%  !important;
  }

  .login__primeiro {
      font-size: 1rem;
      margin-left: -20% !important;
      margin-bottom: 3rem;
      text-align: center;
  }

  .layout {
    width: 106% !important;
}
}  


@media (min-width: 820px) and (max-width: 940px) {
    body {
        width: 100%;
        display: flex;
        flex-direction: column;
        overflow-x: hidden;
    }

   #imagem_principal {
    width: 100%;
   height: 34rem !important;
    }

    .divisao__esquerda {
        width: 100% !important;
        position: center;
    }
    
    .esquerda_divisao {
        position:static !important;   
        z-index: 999;
    }
    
    .titulo_slogan {
        margin-left: 5rem;
        width: 70% !important;
        font-size: 1.75rem;
        font-weight: 500;
        margin-bottom: 1rem;
    }

    .subtitulo_slogan {
        margin-left: 5rem;
        width: 70% !important;
        font-size: 170%;
        font-weight: 100;
        line-height: 1.9rem;
    }

    #imagem_logo {
        margin-top: 8rem;
        margin-bottom: 1rem;
        margin-left: -3rem;
        width: 60% !important;
    }

    .esquerda_divisao img {
        z-index: -1;
        max-width: 100%; /* Ajusta a imagem para ocupar 100% da largura disponível */
        height: 5rem; /* Mantém a proporção da imagem */
    }

    #textos_divisao {
        z-index: 999;
        margin-top: -105%; /* Espaçamento entre a imagem e o texto */
    }

    .direita_login {
        position: absolute; top: 20%; left: 50%; transform: translate(-50%, -50%);
        width: 100% !important;
        text-align: left; /* Centraliza o conteúdo na tela */
        padding-top: 78rem; /* Espaçamento entre as seções */
    }

    .coolinput label.text,
    .coolinput input[type="text"].input,
    .coolinput input[type="password"].input,
    .coolinput input[type="email"].input,
    .coolinput input[type="number"].input,
    .coolinput input[type="file"].input,
    .coolinput select.select {
        width: 100% !important; /* Faz com que os elementos ocupem a largura disponível */
    }
  
  
  .direita_login {
  margin-top: 4% !important;
  }
  
  .login__primeiro {
      margin-bottom: 3rem;
  }

  .coolinput input[type="file"].input {
     margin-right: 6rem !important;
  }

  .botao__form {
    width: 106% !important;
}

.divisoria {
    width: 106%  !important;
}

.login__primeiro {
    font-size: 1rem;
    margin-left: -25% !important;
    margin-bottom: 3rem;
    text-align: center;
}

.layout {
    width: 105% !important;
}
}  


@media (min-width: 940px) and (max-width: 1200px) {
    body {
        overflow-x: hidden;
    }

#imagem_principal {
    width: 100%;
    height: 100vh !important;
}

    .divisao__esquerda {
        width: 100%;
        position: left;
    }
    
    .esquerda_divisao {
        position: relative;    
        z-index: -1;
    }

    #textos_divisao {
    margin-top: -54rem !important;
        display: flex;
        flex-direction:column;
        justify-content: right;
    align-items: center;
    }
    
    .titulo_slogan {
        width: 90% !important;
        margin-left: 1rem !important;
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }
    
    #imagem_logo {
        margin-bottom: 1rem;
        margin-left: -2rem !important;
        width: 80% !important;
    }
    
    .subtitulo_slogan {
        width: 90% !important;
        margin-left: 1rem !important;
        font-size: 1.2rem !important;
        font-weight: 100;
        line-height: 1.5rem !important;
    }
    
    .direita_login {
        margin-left: 2rem;
        width: 60%;
    }

    .coolinput {
        width: 30rem;
    }
    
  
  .coolinput label.text,
  .coolinput input[type="text"].input,
  .coolinput input[type="password"].input,
  .coolinput input[type="email"].input {
      width: 74% !important; /* Faz com que os elementos ocupem a largura disponível */
  }
  
  
  .direita_login {
  margin-top: 4% !important;
  }
  
  .login__primeiro {
      margin-bottom: 3rem;
  }

  .botao__form {
    width: 81% !important;
}

.divisoria {
    width: 78%  !important;
}

.login__primeiro {
    margin-left: -6rem !important;
    margin-bottom: 3rem;
    text-align: center;
}

.layout {
    width: 80% !important;
}

}  


@media (min-width: 1200px) and (max-width: 1300px) {
    body {
        overflow-x: hidden;
    }

#imagem_principal {
    width: 100%;
    height: 100vh !important;
}

    .divisao__esquerda {
        width: 100%;
        position: left;
    }
    
    .esquerda_divisao {
        position: relative;    
        z-index: -1;
    }

    #textos_divisao {
    margin-top: -64rem !important;
        display: flex;
        flex-direction:column;
        justify-content: right;
    align-items: center;
    }
    
    .titulo_slogan {
        width: 90% !important;
        margin-left: 1rem !important;
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }
    
    #imagem_logo {
        margin-bottom: 1rem;
        margin-left: -2rem !important;
        width: 80% !important;
    }
    
    .subtitulo_slogan {
        width: 90% !important;
        margin-left: 1rem !important;
        font-size: 1.2rem !important;
        font-weight: 100;
        line-height: 1.5rem !important;
    }
    
    .direita_login {
        margin-left: 2rem;
        width: 60%;
    }

    .coolinput {
        width: 30rem;
    }
    
  
  .coolinput label.text,
  .coolinput input[type="text"].input,
  .coolinput input[type="password"].input,
  .coolinput input[type="email"].input {
      width: 74% !important; /* Faz com que os elementos ocupem a largura disponível */
  }
  
  
  .direita_login {
  margin-top: 4% !important;
  }
  
  .login__primeiro {
      margin-bottom: 3rem;
  }

  .botao__form {
    width: 81% !important;
}

.divisoria {
    width: 78%  !important;
}

.login__primeiro {
    margin-left: -6rem !important;
    margin-bottom: 3rem;
    text-align: center;
}

.layout {
    width: 80% !important;
}
}  

@media (min-width: 1300px) and (max-width: 1700px) {
    body {
        overflow-x: hidden;
    }

#imagem_principal {
    width: 90%;
    height: 100vh !important;
}

    .divisao__esquerda {
        width: 100%;
        position: left;
    }
    
    .esquerda_divisao {
        position: relative;    
        z-index: -1;
    }

    #textos_divisao {
    margin-top: -68rem !important;
        display: flex;
        flex-direction:column;
        justify-content: right;
    align-items: center;
    }
    
    .titulo_slogan {
        width: 80% !important;
        margin-left: 1rem !important;
        font-size: 1.75rem;
        margin-bottom: 1rem;
    }
    
    #imagem_logo {
        margin-bottom: 1rem;
        margin-left: -12rem !important;
        width: 57% !important;
    }
    
    .subtitulo_slogan {
        width: 70% !important;
        margin-left: -4.2rem !important;
        font-size: 1.5rem !important;
        font-weight: 100;
        line-height: 1.7rem !important;
    }
    
    .direita_login {
        margin-left: 2rem;
        width: 60%;
    }

    .coolinput {
        width: 40rem;
    }
    
    .coolinput label.text,
    .coolinput input[type="text"].input,
    .coolinput input[type="password"].input,
    .coolinput input[type="email"].input {
        width: 74% !important; /* Faz com que os elementos ocupem a largura disponível */
    }
  
    .direita_login {
    margin-top: 4% !important;
    }
    
    .login__primeiro {
        margin-bottom: 3rem;
    }

    .botao__form {
        width: 79.5% !important;
    }
    
    .divisoria {
        width: 80%  !important;
    }

    .login__primeiro {
        margin-left: -7rem !important;
        margin-bottom: 3rem;
        text-align: center;
    }
    
    .custom-file-upload {
        width: 85.5%;
        margin-left: 0rem;
        margin-top: 0rem;
    }

    .layout {
        width: 79% !important;
    }
}  
