.integracaco {
    padding-top: 5%;
    margin-left: 30rem !important;
}

.pesquisa-botao {
    display: flex;
    justify-content: space-around;
}

.botoes_integracao {
    margin-left: 16rem;
    width: 100% !important;
    display: flex;
}

.navbar {
  display: none;
}

.botao__form__int {
    font-family: 'Montserrat', sans-serif;
  font-size: 0.95rem;
  background-color: #359180;
  outline: none;
  border-radius: 10px;
  border: none;
  display: flex;
  margin-left: 1rem;
  padding: 12px 0px 12px 0px;
  width: 40%;
  height: 84%;
  color: #fff;
  font-weight: 600;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 1s;
  text-decoration: none;
}

.botao__form__int span {
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  display: flex;
}

.botao__form__int:hover {
  transition: 1s;
  background-color: #287e6e;
}

.filtericon {
    width: 2.6rem;
    vertical-align: middle; /* Alinha o ícone verticalmente no meio da célula */
  margin: -2rem; /* Define a margem do ícone para zero */
  padding: 0; /* Define o padding do ícone para zero (opcional, dependendo do seu estilo) */
}

input {
    width: 40rem !important;
}