.integracaco {
  padding-top: 5%;
  margin-left: 30rem !important;
}

.pesquisa-botao {
  display: flex;
  justify-content: space-around;
}

.botoes_integracao {
  margin-left: 16rem;
  width: 100% !important;
  display: flex;
}

.navbar {
  display: none;
}

table.blueTable {
  margin-left: 0rem !important;
  background-color: #d9d9d9af;
  width: 92%;
  height: 100%;
  text-align: left;
  align-items: center;
  border-collapse: collapse;
}

.botao__form__int {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.95rem;
  background-color: #359180;
  outline: none;
  border-radius: 10px;
  border: none;
  display: flex;
  margin-left: 1rem;
  padding: 12px 0px 12px 0px;
  width: 40%;
  height: 84%;
  color: #fff;
  font-weight: 600;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
}

.botao__form__int span {
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  display: flex;
}

.botao__form__int:hover {
  transition: 1s;
  background-color: #287e6e;
}

.filtericon {
  width: 2.6rem;
  vertical-align: middle;
  /* Alinha o ícone verticalmente no meio da célula */
  margin: -2rem;
  /* Define a margem do ícone para zero */
  padding: 0;
  /* Define o padding do ícone para zero (opcional, dependendo do seu estilo) */
}

input {
  width: 40rem !important;
}

@media (max-width: 800px) {

  .pesquisa-botao {
    flex-wrap: wrap;
    margin-left: 0;
  }

  .pesquisa-botao {
    margin-top: 3rem !important;
  }

  .integracaco {
    margin: 10px;
    margin-left: 1rem !important;
  }

  .botoes_integracao {
    text-wrap: nowrap;
    margin-left: 0px;
    flex-wrap: wrap;

  }

  .input {
    padding: 16px 0px !important;
  }

  .input,
  .coolinput {
    margin-left: 0;
    width: 98% !important;
    margin-bottom: 1rem;
  }

  .botao__form__int {
    width: 80%;
    height: 50%;
    margin: auto;
  }

  .botao__form__int:nth-child(1){
    margin-bottom: 6px;
  }

  .checkbox__burg {
    width: 100% !important;
  }
}

@media (min-width: 800px) and (max-width: 1250px) { 
  .pesquisa-botao {
    flex-wrap: wrap;
    margin-left: 0;
  }

  .pesquisa-botao {
    margin-top: 3rem !important;
  }

  .integracaco {
    margin: 10px;
    margin-left: 1rem !important;
  }

  .botoes_integracao {
    text-wrap: nowrap;
    margin-left: 0px;
    flex-wrap: wrap;

  }

  .input {
    padding: 16px 0px !important;
  }

  .input,
  .coolinput {
    margin-left: 0;
    width: 98% !important;
    margin-bottom: 1rem;
  }

  .botao__form__int {
    width: 40%;
    height: 85%;
    margin: auto;
  }

  .botao__form__int:nth-child(1){
    margin-bottom: 6px;
  }

  .checkbox__burg {
    width: 100% !important;
  }

  .blueTable{
    width: 100% !important;
  }
}

@media (min-width: 1200px) and (max-width: 1250px) { 
  .pesquisa-botao {
    flex-wrap: nowrap;
    margin-left: 0;
  }

  .pesquisa-botao {
    margin-left: 0rem !important;
    margin-top: 3rem !important;
  }

  .integracaco {
    margin: 10px;
    margin-left: 2rem !important;
  }

  .botoes_integracao {
    text-wrap: nowrap;
    margin-left: 0px;
    flex-wrap: nowrap;

  }

  .input {
    padding: 16px 0px !important;
  }

  .input,
  .coolinput {
    margin-left: 0;
    width: 90% !important;
    margin-bottom: 1rem;
  }

  .botao__form__int {
    width: 40%;
    height: 70%;
    margin: auto;
  }

  .botao__form__int:nth-child(1){
    margin-bottom: 6px;
  }

  .checkbox__burg {
    width: 100% !important;
  }

}

@media (min-width: 1250px) and (max-width: 1400px) {
  .pesquisa-botao {
    flex-wrap: nowrap;
    margin-left: 0;    
    margin-left: 4rem !important;
    margin-top: 3rem !important;
  }

.subtitulo {
  margin-left: 0rem !important;
}

  .integracaco {
    width: 80%;
    margin: 0px;
    margin-left: 15rem !important;
  }

.position-table {
  width: 102%;
  margin-left: 4rem !important;
}

  .botoes_integracao {
    text-wrap: nowrap;
    flex-wrap: nowrap;

  }

  .input {
    padding: 16px 0px !important;
  }

  .input,
  .coolinput {
    margin-left: 0;
    width: 100% !important;
    margin-bottom: 1rem;
  }

  .botao__form__int {
    width: 18rem;
    height: 70%;
    margin: 0.5rem;
  }

  .botao__form__int:nth-child(1){
    margin-bottom: 6px;
  }

  .checkbox__burg {
    width: 100% !important;
  }

}


@media (min-width: 1400px) and (max-width: 1600px) {

  .pesquisa-botao {
    text-wrap: nowrap;
    flex-wrap: nowrap;
    margin-left: 0;    
    margin-left: 4rem !important;
    margin-top: 3rem !important;
  }

.subtitulo {
  margin-left: 0rem !important;
}

.integracaco {
  width: 80%;
  margin: 0px;
  margin-left: 22rem !important;
}

.position-table {
width: 102%;
margin-left: 0rem !important;
}

}