@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400;500;600;700;800&family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

html {
  font-family: 'Montserrat', sans-serif !important;
  background-color: #EEEEEE !important;
  font-size: 0.85rem !important;
}
body{
  margin-bottom: 50px;
}
.pacientes {
  padding-top: 5%;
  margin-left: 30rem;
}

.navbar {
  display: none;
}

.flexbox-pacientes {
  width: 92%;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.flex-esquerda {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}

.td-bold-class {
  font-weight: 600;
  color: #000000;
  text-decoration: underline;
}

table {
  border-radius: 10px !important;
}

table.blueTable {
  margin-left: 30rem;
  background-color: #d9d9d9af;
  width: 73%;
  height: 100%;
  text-align: left;
  align-items: center;
  border-collapse: collapse;
}

table.blueTable td,
table.blueTable th {
  padding: 12px 28px;
}

table.blueTable th {
  padding: 20px 28px;
}

table.blueTable tbody td {
  font-size: 15px;
}

.blueTable thead {
  background-color: #2D7B6D;
  height: 3rem;
}


table.blueTable thead th {
  font-size: 15px;
  font-weight: 600;
  color: #FFFFFF;
}

table.blueTable tfoot {
  font-size: 15px;
  font-weight: 600;
  color: #FFFFFF;
}

table.blueTable tfoot td {
  padding-top: 2rem !important;
  font-size: 15px;
}

table.blueTable tfoot .links {
  text-align: center;
}

table.blueTable tfoot .links a {
  display: inline-block;
  background: #2D7B6D;
  color: #FFFFFF;
  padding: 8px 16px;
  border-radius: 5px;
  text-decoration: none;
}

table.blueTable tfoot .links a:hover {
  background: #35918069;
  color: #2D7B6D;
}

table.blueTable tfoot .links a:focus {
  background: #399c8a;
  color: #ffffff;
}

.coolinput {
  display: flex;
  flex-direction: column;
  width: 35rem;
  position: static;
}

.coolinput label.text {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.85rem;
  color: #505050;
  font-weight: 400;
  position: relative;
  top: 0.5rem;
  margin: 0 0 0 14px;
  padding: 0 3px;
  background: #eeeeee;
  width: fit-content;
}

.coolinput input[type=text].input,
.coolinput input[type=password].input,
.coolinput input[type=email].input {
  padding: 16px 16px;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.95rem;
  color: #636363fd;
  border: 1px rgb(153, 153, 153) solid;
  border-radius: 5px;
  background: #e8e8e800;
  margin-bottom: 1rem;
}

.coolinput input[type=text].input:focus {
  outline: none;
}

.titulozinho {
  font-weight: 700;
}

.quebra-flex {
  line-height: 2rem;
  margin-bottom: 1.75rem;
  margin-left: 3rem;
  margin-right: 2rem;
}

.botao {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.95rem;
  background-color: #359180;
  outline: none;
  border-radius: 10px;
  border: none;
  display: flex;
  padding: 12px 18px 12px 18px;

  color: #fff;
  font-weight: 600;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.botao:hover {
  transition: 1s;
  background-color: #287e6e;
}

.subtitulo {
  font-family: 'Montserrat', sans-serif !important;
  font-size: 1.5rem;
  font-weight: 700;
  margin-top: 4rem;
  margin-bottom: 2rem;
}

.icon-paciente {
  padding-top: -0.5rem;
  width: 1.4rem;
}


@media (max-width: 800px) {
  .pacientes {
    margin: 10px;
  }

.subtitulo {
  margin-bottom: 20px;
  margin-left: 10px;
}

  .flexbox-pacientes,
  .flex-esquerda {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
  }

  .coolinput {
    margin-left: 9%;
    width: 100%;
  }

  .flex-esquerda {
    width: 100%;
  }

  .botao {
    margin-left: 9%;
    text-wrap: nowrap;
    padding: 12px 10rem 12px 10rem;
  }

  .flex-direita {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
  }

  .icon-busca{
    margin-bottom: 20px;
  }

 .hide-on-mobile,  .hide-on-mobile-hour  {
    display: none;
  }


  .blueTable{
    margin-left: 10px;
    overflow: scroll;
  }

  table.blueTable {
    width: 95%; /* 100% da largura do container pai */
    margin-left: 1rem;
  }

  table.blueTable th,
  table.blueTable td {
    white-space: nowrap; /* Evita que o conteúdo seja quebrado em várias linhas */
  }
  /*
  .coolinput{
    z-index: -1;
  }
  */
}

@media (min-width: 700px) and (max-width: 800px) { 
  .hide-on-mobile-hour {
    display:flex;
  }
}


@media (min-width: 800px) and (max-width: 900px) {
.pacientes {
    margin-left: 1rem !important;
}
  
  table.blueTable {
    width: 97%; /* 100% da largura do container pai */
  }
}

@media (min-width: 600px) and (max-width: 1250px) {
  .pacientes {
      margin-left: 1rem !important;
  }

  .subtitulo {
    margin-left: 1rem !important;
  }

  .blueTable {
    margin-left: 1rem !important;
  }
  
    .flexbox-pacientes,
  .flex-esquerda {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
  }

  .botao{
    margin-left: 0.3rem;
  }

  table.blueTable {
    width: 97%; /* 100% da largura do container pai */
  }
  }


  @media (min-width: 1250px) and (max-width: 1400px) {
.titulozao {
  margin-left: 4rem !important;
}

    .pacientes {
        margin-left: 15rem !important;
    }
  
    .subtitulo {
      margin-left: 20rem !important;
    }
  
    .blueTable {
      margin-left: 20rem !important;
    }
    


      .flexbox-pacientes,
    .flex-esquerda {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      flex-wrap: wrap;
      margin-left: 1rem !important;
    }
  
    .botao{
      margin-left: 0.3rem;
    }

    table.blueTable {
      width: 75%; /* 100% da largura do container pai */
    }
    }


    @media (min-width: 1400px) and (max-width: 1500px) {
      
      .titulozao {
        margin-left: 0rem !important;
      }
      
          .pacientes {
              margin-left: 21rem !important;
          }

      .subtitulo {
        margin-left: 20rem !important;
      }
    
      .blueTable {
        margin-left: 20rem !important;
      }

      table.blueTable {
        width: 80%; /* 100% da largura do container pai */
      }

      .flexbox-pacientes,
      .flex-esquerda {
        margin-left: 1rem !important;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-wrap: wrap;
      }

      .botao{
        margin-left: 0.3rem;
      }

      }