@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400;500;600;700;800&family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

html {
    font-family: 'Montserrat', sans-serif !important;
    background-color: #EEEEEE !important;
    font-size: 0.85rem !important;
  }

  .notificação-visao {
    position: absolute;
    width: 2.3rem;
    left: 58rem;
    z-index: 999;
    top: 12rem;
  }

.visaogeral {
    padding-top: 5%;
    margin-left: 30rem;
}



.titulo__h1 {
    padding-top: 1.6rem;
    font-size: 1.25rem;
    font-weight: 700;
    padding-bottom: 0.8rem;
    border-bottom: 1px solid #00000021;
    width: 98%;
    display: flex;
    align-items: center;
}

.classes {
    background-color: #d9d9d980;
    border-radius: 10px;
    height: 250px;
    width: 440px;
    padding-left: 1em;
    z-index: -2;
    
}

.layout {
    display: flex;
    gap: 16px;
  }

  .titulos {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 3rem;
}

.titulozao {
    font-family: 'Montserrat', sans-serif !important;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 4rem;
}

.item-icon-2 {
    width: 1.2em;
    height: 1.1em;  
    margin-left: 1em;
    margin-right: 0.5em;
    align-self: center;
  }
  

  .space-lista {
    margin-top: 1rem;
    width: 90%;
    display: flex;
  justify-content: space-between;
  align-items: center;
}

.titulos__visao, .titulos__visao__not {
    margin-left: 0.2rem;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 0.6rem;
    line-height: 1.5rem;
}

.titulos__visao__1 {
    margin-top: 0.4rem;
    margin-left: 0.5rem;
    font-size: 15px;
    font-weight: 600;
    width: 150%;
}

.titulos__visao__2 {
  margin-left: 0.5rem;
    font-size: 15px;
    font-weight: 400;
    margin-top: 0.4rem;
    width: 60%;
}

.li-item {
    border-bottom: 1px solid #00000021;
    margin-top: 1rem;
    padding-bottom: 0.7rem;
    width: 98%;
}

.arrow {
    margin-right: 0.75rem;
    margin-top: -0.4rem;
    width: 9px;
    height: 15px;
}

#divisorias {
    border-bottom: 1px solid #00000021;
    padding-bottom: 0.5rem;
    width: 98%;
}

.caixas__inferior {
    display: flex;
    margin-top: 1.2rem;
    margin-left: 30rem;
    margin-bottom: 10rem;
}

.classes__inferior {
    background-color: #d9d9d980;
    border-radius: 10px;
    height: 290px;
    width: 910px;
    padding-left: 1em;
}

.layout__inferior {
    display: flex;
    justify-content: space-evenly !important;
    align-items: center;
  }

  .imagens__caixas {
    width: 24%;
  }

  .space-lista-imagens {
    display: flex;
    justify-content: center !important;
    justify-content: space-around !important;
    gap: 18px;
    margin-top: 2rem;
  }

  .classes__inferior__ultimo {
    background-color: #d9d9d980;
    border-radius: 10px;
    height: 290px;
    width: 440px;
    padding-left: 1em;
}

.layout__inferior__ultimo {
    margin-left: 1.2rem;
    display: flex;
    gap: 16px;
  }

  .fotos__noticias {
    margin-right: 0.75rem;
    margin-top: -0.4rem;
    width: 25%;
}

#divisorias__noticias {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    width: 98%;
}

.navbar {
  display: none;
}

@media screen and (max-width: 1250px) {

.titulozao {
  margin-bottom: 2rem;
}

.visaogeral {
  padding-top: 4rem;
    margin-left: 1.5rem;
}

.classes {
  height: 250px;
  width: 94%;
  padding-left: 1em;
}

.layout {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.caixas__inferior {
  display: flex;
  flex-direction: column;
  margin-top: 1.2rem;
  margin-left: 1.5rem;
  margin-bottom: 10rem;
}

.classes__inferior {
  background-color: #d9d9d980;
  border-radius: 10px;
  padding-bottom: 1.25rem;
  height: 100%;
  width: 94%;
  padding-left: 1em;
}

.classes__inferior__ultimo {
  height: 100%;
  width: 94%;
  padding-bottom: 1.25rem;
  margin-bottom: 2rem;
  padding-left: 1em;
  margin-top: 1rem;
}

.layout__inferior__ultimo {
  margin-left: 0rem;
  display: flex;
}

.layout__inferior {
  display: flex;
flex-wrap: wrap;
}

.imagens__caixas {
  width: 14rem;
}

.space-lista-imagens {
  flex-wrap: wrap;
  display: flex;
  justify-content: center !important;
  gap: 10px;
  margin-top: 1.4rem;
}

.fotos__noticias {
  width: 20%;
}

.titulos__visao__not{
  margin-left: 0.2rem;
  font-size: 17px;
  font-weight: 600;
  margin-bottom: 0.6rem;
  line-height: 1.5rem;
}

.notificação-visao {
  position: absolute;
  width: 2.3rem;
  left: 80%;
  z-index: -1;
  top: 150px;
}

#divisorias__noticias {
  display: flex;
  justify-content: flex-start;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  width: 95%;
}
}


@media (min-width: 1250px) and (max-width: 1700px) { 
  .notificação-visao {
   display: none;
  }

  .visaogeral {
    padding-top: 5%;
    margin-left: 19.2%;
}

  .classes {
    background-color: #d9d9d980;
    border-radius: 10px;
    height: 21rem;
    width: 300px;
    padding-left: 1em;
}

.layout {
    display: flex;
    gap: 1%;
  }

  .caixas__inferior {
    display: flex;
    flex-direction: column;
    margin-top: 1.2rem;
    margin-left: 19.2%;
    margin-bottom: 10rem;
  }
  
  .classes__inferior {
    background-color: #d9d9d980;
    border-radius: 10px;
    padding-bottom: 1.25rem;
    height: 100%;
    width: 940px;
    padding-left: 1em;
  }
  
  .classes__inferior__ultimo {
    height: 100%;
    width: 940px;
    padding-bottom: 1.25rem;
    margin-bottom: 2rem;
    padding-left: 1em;
    margin-top: 1rem;
  }
  
  .layout__inferior__ultimo {
    margin-left: 0rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .fotos__noticias {
    margin-right: 0.75rem;
    margin-top: -0.4rem;
    width: 25%;
}

#divisorias__noticias {
  display: flex;
  justify-content: flex-start;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  width: 60%;
}
}
