@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400;500;600;700;800&family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

html {
    font-family: 'Montserrat', sans-serif !important;
    background-color: #EEEEEE;
    font-size: 0.85rem !important;
  }
  
  #imagem_logo {
    margin-top: 15%;
    padding: 1.2em 3.5em;
    width: 60%;
  }

  /* side-bar */
  .sideBar-lateral {
    background-color: #359180;
    width: 18%;
    position: fixed;
    height: 100%;
    font-weight: 500;
    font-size: 0.85;
    transition: width 100ms ease-in; 
  }
  
  .sideBar-lateral.small {
    width: 80px;
    overflow-x: hidden;
  }
  
  .sideBar-lateral.small .item-descricao {
    opacity: 0;
  }
  
  .sideBar-lateral.small #btn img {
    transform: rotate(180deg);
  }
  
  .menu-item {
    border-bottom: 1px solid rgba(255, 255, 255, 0.13);
    padding: 1.2em 2em;
  }
  
  .menu-item:hover {
    background-color: #2D7B6D;
    width: 84%;
  }
  
  /* definindo o tamanho dos ícones */
  .item-icon {
    width: 1.4em;
    height: 1.4em;  
    margin-right: 1em;
  }
  
  .item-active {
    /* alinhando ícones com textos */
    display: flex;
    align-items: center;
  
    text-decoration: none;
    color: #fff;
  }
  
  /* label de descrição */
  .item-descricao {
    cursor: pointer;
    white-space: nowrap;
  }